<dl>
  <dt>Name:</dt>
  <dd><%= @dog.name %></dd>
  <dt>Age:</dt>
  <dd><%= @dog.age %></dd>
  <dt>Weight:</dt>
  <dd><%= @dog.weight %></dd>
</dl>

<a href="/dogs/<%= @dog.id %>/edit">Edit this dog</a>
